<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Silay City Map</title>

  <!-- ArcGIS CSS -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.29/esri/themes/light/main.css"/>
  
  <style>
    html, body, #viewDiv {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="viewDiv"></div>

  <!-- ArcGIS JS API -->
  <script src="https://js.arcgis.com/4.29/"></script>

  <!-- Load your PWD map ArcGIS.js file through ArcGIS AMD loader -->
  <script>
    require(["/assets/js/mappwd.js"]);
  </script>
</body>
</html>
